[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
neo4j = "*"
pypdf = "*"
langchain = "*"
langchain-community = "*"
langchain-experimental = "*"
transformers = "*"
sentence-transformers = "*"
json-repair = "*"
tiktoken = "*"

[dev-packages]

[requires]
python_version = "3.11"
